/* all items */
* {
    border-style: none;
    border-width: 1px;
    font-family: "garamond";
}

/* webpage */
html {
    border-color: red;
}

/* webbody */
body {
    border-color: orange;
}

/* curr page highlight */
#active {
    color: rgb(91, 91, 20);
}

/* links */
a {
    text-decoration: none;
    color: black;
}

/* navigation top */
#header { 
    border-color: yellow;
    border-radius: 10px;
    background-color: rgb(216, 216, 237);

    height: 5%; 
    margin-bottom: 5%; 

    display: flex;
    list-style: none;
    
    align-items: center;
    justify-content: center;
}

#header h1 {
    border-color: green;
    font-size: 30px;

    height: 50%;
    width: 10%;

    margin-right: 20%;

    text-align: center;
    align-items: center;
    justify-content: center;
}

#navcon {
    border-color: teal;

    width: 35%;
    height: 50%;

    text-align: center;
    align-items: center;
    justify-content: center;
}

#primarynav {
    border-color: blue;

    height: 100%; 

    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%; 

    text-align: center;
    align-items: center;
    justify-content: center;
}

#header li {
    border-color: purple;
    
    display: inline;
    list-style: none;

    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 2%; 
    margin-right: 0%; 

    padding-left: 1%;
    padding-right: 1%;

    font-size: 23.5px;

    text-align: center;
    align-items: center;
    justify-content: center;
}

#aboutcon {
    border-color: yellow;

    width: 100%;
    height: 70vh;
}

#aboutcon h1 {
    border-color: red; 
    background-color: rgb(216, 224, 237);
    border-radius: 10px;

    font-size: 30px;
    
    width: 9.5%;
    height: 5%;

    margin-left: 17.5%; 
    margin-right: 0%;
    margin-top: 2%;
    margin-bottom: 2%; 
    padding: 0.25%;
    
    text-align: center;
    align-items: center;
    justify-content: center;
}

#aboutcon2 {
    border-color: green;

    height: 82%; 
    margin-bottom: 0%; 
    
    display: flex;  
    justify-content: center;
}

#aboutcon2 img {
    border-color: red; 
    margin-left: 0%; 
    margin-right: 4.5%; 
    
    height: 100%;
    width: 21%;
}

#aboutcon3 {
    border-color: teal;

    width: 40%; 
    height: 100%;

    align-items: center;
    justify-content: center;
}

#aboutcon3 h2 {
    border-color: red;

    width: 20%; 
    height: 5%;

    margin-top: 0%;
    margin-bottom: 4%
}

#aboutcon3 p {
    border-color: red;

    width: 100%; 
    margin-top: 0%;
}

#aboutlist {
    border-color: blue; 

    width: 93%;
    height: 15%;

    text-align: center;
    align-items: center;
    justify-content: center;
}

#aboutlist li {
    border-color: red;

    width: 15%;
    height: 31%
}

#interestcon {
    border-color: yellow;
    height: 50%;
}

#interestcon h1 {
    border-color: red;
    background-color: rgb(216, 224, 237);
    border-radius: 10px;

    font-size: 30px;

    width: 9.5%;
    height: 5%;

    margin-left: 17.5%;
    margin-right: 0%; 
    margin-top: 2%;
    margin-bottom: 2%; 
    padding: 0.25%;

    text-align: center;
    align-items: center;
    justify-content: center;
}

#interestcon2 {

    border-color: green;
    height: 82%;

    display: flex;
    justify-content: center;
}

#interestlist {
    border-color: teal; 
    width: 63%;
    height: 100%;

    display: flex; 
    list-style: none; 

    align-items: center; 
    justify-content: center; 
    text-align: center; 

    margin: auto; 
}

#interestlist li {
    border-color: red;

    background-color: rgb(216, 224, 237);
    border-radius: 10px; 

    display: flex;
    align-items: center;

    height: 100%;
    width: 100%;

    font-size: 20px;

    margin: auto; 
    padding: 3.5%; 
}

#aimg1 {
    width: 45%; 
    height: 30%;

    margin-right: 0.5vw;
}

#aimg2 {
    width: 45%;
    height: 30%;

    margin-right: 0%;
}

#aimg3 {
    width: 45%;
    height: 50%;

    margin-right: 0%;
}

#aimg4 {
    width: 49%;
    height: 10.5vh;

    margin-right: 0%;
}

#footer {
    border-color: yellow;

    border-radius: 10px;
    background-color: rgb(216, 216, 237);

    height: 7vh;

    display: flex;
    list-style: none;

    align-items: center;
    justify-content: center;

    margin-bottom: 0px;
}