/* all items */
* {
    outline: 2px solid; 
    font-family: "century gothic", "garamond";
}

/* webpage */
html {
    outline-color: red;
    outline: 0px; 
    height: 100vh; 
    width: 98vw; 
    margin-left: auto;
    margin-right: auto;
}

/* webbody */
body {
    outline-color: orange;
    outline: 0px; 
    height: 100%; 
    width: 100%; 

    margin: 0;
    height: 100vh;
    background-image: url('/images/bgs/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* curr page highlight */
#active {
    color: rgb(91, 91, 20);
}

/* links */
a {
    text-decoration: none;
    color: black;
}

/* navigation top */
#header { 
    outline-color: yellow;
    border-radius: 10px;
    background-color: rgb(216, 216, 237);

    height: 8%; 
    margin-bottom: 3%; 

    display: flex;
    list-style: none;
    
    align-items: center;
    justify-content: center;
}

#header h1 {
    outline-color: green;
    font-size: 30px;

    height: 50%;
    width: 20%;

    margin-left: 19%;

    align-content: center;
}

#navcon {
    outline-color: teal;
    
    display: flex;

    width: 40%;
    height: 50%;

    margin-left: auto;
    margin-right: 14%;

    text-align: center;
    align-items: center;
    justify-content: center;
}

#primarynav {
    outline-color: blue;

    width: 100%;

    align-items: center;
    justify-content: center;
}

#header li {
    outline-color: purple;
    
    display: inline;
    list-style: none;

    margin-left: 2%; 

    padding-left: 1%;
    padding-right: 1%;

    font-size: 23.5px;

    text-align: center;
    align-items: center;
    justify-content: center;
}

#header a {
    justify-content: center;
    text-align: center; 
}

#aboutcon {
    outline-color: yellow;

    display: grid;

    width: 100%;
    height: 70vh;

    margin-bottom: 0%;
}

#aboutcon h1 {
    outline-color: red; 
    background-color: rgb(216, 224, 237);
    border-radius: 10px;

    font-size: 30px;
    display: flex; 
    
    width: 10%;
    height: 4vh;

    margin-left: 19%; 
    margin-top: 2%;
    margin-bottom: 0%;
    
    text-align: center;
    align-items: center;
    justify-content: center;
}

#aboutcon2 {
    outline-color: green;

    display: flex; 

    margin-top: 0%; 
    height: 90%; 
    
    display: flex;  
    justify-content: center;
}

#aboutcon2 img {
    outline-color: red; 
    margin-left: 4.5%; 
    margin-right: 3%; 
    
    height: 100%;
    width: 25%;
}

#aboutcon3 {
    outline-color: teal;

    width: 39%; 
    height: 100%;

    align-items: center;
    justify-content: center;
}

#aboutcon3 h2 {
    outline-color: red;

    width: 30%; 
    height: 5%;

    margin-top: 0%;
    margin-bottom: 4%
}

#aboutcon3 p {
    outline-color: red;

    width: 100%; 
    margin-top: 0%;
}

#aboutlist {
    outline-color: blue; 

    width: 93.5%;
    height: 15%;

    align-items: center;
    justify-content: center;
}

#aboutlist li {
    outline-color: red;

    width: 50%;
    height: 31%
}

#intcon {
    outline-color: yellow;
    outline: 5px solid yellow;

    display: inline-block;

    width: 100%;
    height: 35vh;

    margin-bottom: 0%;
}

#intcon h1 {
    outline-color: red;
    background-color: rgb(216, 224, 237);
    border-radius: 10px;

    font-size: 30px;
    display: flex;

    width: 12%;
    height: 4vh;

    margin-left: 19%;
    margin-top: 2%;
    margin-bottom: 2%;

    text-align: center;
    align-items: center;
    justify-content: center;
}

#intcon h3 {
    outline-color: red;

    width: 50%;
    height: 7%;

    margin-left: 19%;
    margin-top: 0%;
    margin-bottom: 2%;

    align-content: center;
}

#intcon2 {
    outline-color: green;

    height: 49%;
    width: 100%;

    margin-top: 0%;
    margin-bottom: 0%;

    display: flex;
    flex-flow: row wrap;
}

#intcon2 #first {
    margin-left: 19%;
}

#intcon2 #last {
    margin-right: 11%;
}

#intcon2 #topr {
    margin-top: 0%;
}

#intcon2 p {
    outline-color: red;
    background-color: rgb(216, 224, 237);
    border-radius: 10px;

    width: 11.4%;
    height: 100%;

    margin-left: 2.35%;
    margin-top: 0%;

    text-align: center;
    align-content: center;
}

#footer {
    outline-color: yellow;
    border-radius: 10px;
    background-color: rgb(216, 216, 237);

    height: 8%;
    margin-top: 5%;
    margin-bottom: 0%;

    display: flex;
    list-style: none;

    align-items: center;
    justify-content: center;
}

.tester {
    transition: all 0.5s ease;
}

.tester:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(175, 182, 231, 0.5);
}