/* all items */
* {
    outline: 2px solid;
    font-family: "century gothic", "garamond";
}

/* webpage */
html {
    border-color: red;
}

/* webbody */
body {
    border-color: orange;

    margin: 0;
    height: 100vh;
    background-image: url('/images/bgs/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* links */
a {
    text-decoration: none;
    color: black;
}

/* unordered lists */
ul {
    padding-left: 0vw;
    text-align: left;
}

/* list items */
li { 
    border-color: black;
    background-color: rgb(216, 216, 237); 
}

#maincon {
    border-color: yellow;
    
    margin-left: 15vw;
    margin-top: 30vh;

    width: auto; 
    height: auto; 
}

#maincon h1 {
    width: 15vw;
    height: auto; 
}

#maincon h2 {
    width: 10vw;
    height: auto;
}

#navcon {
    border-color: green;

    margin-top: 5vh;
    margin-bottom: 4vh;

    width: auto;
    height: auto;
}

#primarynav {
    border-color: blue;

    display: flex;
    list-style: none; 

    width: auto;
    height: auto;
}

#primarynav li {
    margin-right: 5vw; 

    width: auto;
    height: auto;
    
    font-size: 20px;
}

#socialcon {
    border-color: purple;

    width: auto;
    height: auto;
}

#socialsnav {
    border-color: pink;

    display: flex; 
    list-style: none; 

    width: auto;
    height: auto;
}

#socialsnav li {
    margin-right: 5vw;

    width: auto;
    height: auto;

    font-size: 18px;
}