/* all items */
* {
    outline: 2px solid;
    font-family: "garamond";
}

/* constants */
:root {
    --header-height: 7vh;
}

html {
    outline-color: red;
}

body {
    outline-color: orange;
}

/* curr page highlight */
#active {
    color: rgb(91, 91, 20);
}

/* links */
a {
    text-decoration: none;
    color: black;
}

#header {
    outline-color: yellow;
    border-radius: 10px;
    background-color: rgb(216, 216, 237);

    height: var(--header-height);

    display: flex;
    list-style: none;

    align-items: center;
    justify-content: center;
}

#header h1 {
    outline-color: green;

    font-size: 30px;
    height: auto;
    width: auto;

    margin-right: 20vw;

    text-align: center;
    align-items: center;
}

#navcon {
    outline-color: teal;
}

#primarynav {
    outline-color: blue;
    padding: 8px;
    margin: 0px;
}

#header li {
    outline-color: purple;

    display: inline;
    list-style: none;

    padding-left: 1vw;
    padding-right: 1vh;

    font-size: 23.5px;
}

#summarycon {
    outline-color: yellow;

    height: 30vh;

    margin: auto;
    margin-top: 10vh;
}

#summarycon h1 {
    outline-color: red;

    background-color: rgb(216, 224, 237);
    border-radius: 10px;

    width: 8.5vw;
    height: 4vh;
    padding: 5px;
    text-align: center;

    margin-left: 17vw;
    margin-bottom: 3.5vh;
}

#summarycon1 {
    outline-color: green;

    height: 20vh;
    margin-top: 2vh;

    display: flex;  
    justify-content: center;
}

#summarycon p {
    height: 1rem; 
}
#aboutcon3 {
    outline-color: teal;

    width: 45vw;
    height: 53vh;
}

#aboutcon3 h2 {
    outline-color: red;

    width: 8vw;
    height: 3vh;
    margin-left: 3vw;
    margin-top: 0vh;
}

#aboutcon3 p {
    outline-color: red;

    width: 39vw;

    margin-left: 3vw;
    margin-top: 0vh;
}

#aboutlist {
    outline-color: blue;

    width: 36.5vw;
    height: 8.5vh;

    margin-top: 2vh;
    margin-left: 3vw;
}

#aboutlist li {
    outline-color: red;

    width: 15vw;
}

#interestcon {
    outline-color: yellow;
    margin-top: 2vh;
    height: 40.5vh;
}

#interestcon h1 {
    outline-color: red;

    border-radius: 10px;
    background-color: rgb(216, 224, 237);

    width: 8.5vw;
    height: 4vh;
    padding: 5px;
    text-align: center;

    margin-left: 17vw;
}

#interestcon2 {
    outline-color: green;
    width: 97.5vw;
    height: 20vh;
    margin-top: 3.75vh;
}

#interestlist {
    outline-color: teal;
    width: 94.5vw;
    height: 20vh;

    display: flex;
    list-style: none;

    align-items: center;
    justify-content: center;

    margin: auto;
}

#interestlist li {
    outline-color: red;

    background-color: rgb(216, 224, 237);
    border-radius: 10px;

    display: flex;
    align-items: center;

    font-size: 20px;

    margin-right: 2.75vw;
    padding: 2.6vw;
}

#aimg1 {
    width: 5vw;
    height: 10vh;

    margin-right: 0.5vw;
}

#aimg2 {
    width: 5vw;
    height: 10.5vh;

    margin-right: 0vw;
}

#aimg3 {
    width: 5vw;
    height: 10vh;

    margin-right: 0vw;
}

#aimg4 {
    width: 6vw;
    height: 10.5vh;

    margin-right: 0vw;
}

#footer {
    outline-color: yellow;

    border-radius: 10px;
    background-color: rgb(216, 216, 237);

    height: 7vh;

    display: flex;
    list-style: none;

    align-items: center;
    justify-content: center;

    margin-bottom: 0px;
}