/* all items */
* {
  outline: 2px solid;
  font-family: "century gothic", "papyrus";
  /* Bahnschrift Light */
}

/* webpage */
html {
  outline-color: red;
  outline: 0px;
  height: 98vh;
  width: 98vw;
  margin-left: auto;
  margin-right: auto;
}

/* webbody */
body {
  outline-color: orange;
  outline: 0px;
  height: 100%;
  width: 100%;

  margin: 0;
  height: 100vh;
  background-image: url('/images/bgs/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* curr page highlight */
#active {
  color: rgb(91, 91, 20);
}

/* links */
a {
  text-decoration: none;
  color: black;
}

/* navigation top */
#header {
  outline-color: yellow;
  border-radius: 0px;
  background-color: rgb(216, 216, 237);

  height: 8vh;
  margin-bottom: 4%;

  display: flex;
  list-style: none;

  align-items: center;
}

#header h1 {
  outline-color: green;
  font-size: 30px;

  height: 50%;
  width: 20%;

  margin-left: 19%;

  align-content: center;
}

#navcon {
  outline-color: teal;

  display: flex;

  width: 40%;
  height: 50%;

  margin-left: auto;
  margin-right: 15%;

  text-align: center;
  align-items: center;
  justify-content: center;
}

#primarynav {
  outline-color: blue;

  width: 100%;

  align-items: center;
  justify-content: center;
}

#header li {
  outline-color: purple;

  display: inline;
  list-style: none;

  margin-left: 2%;

  padding-left: 1%;
  padding-right: 1%;

  font-size: 23.5px;

  text-align: center;
  align-items: center;
  justify-content: center;
}

#header a {
  justify-content: center;
  text-align: center;
}

#summarycon {
  outline-color: yellow;
  outline: 5px solid yellow;

  display: inline-block;

  width: 100%;
  height: 35vh;

  margin-bottom: 0%;
}

#summarycon h1 {
  outline-color: red;
  background-color: rgb(216, 224, 237);
  border-radius: 10px;

  font-size: 30px;
  display: flex;

  width: 12%;
  height: 4vh;

  margin-left: 19%;
  margin-top: 2%;
  margin-bottom: 2%;

  text-align: center;
  align-items: center;
  justify-content: center;
}

#summarycon h3 {
  outline-color: red;

  width: 50%;
  height: 7%;

  margin-left: 19%;
  margin-top: 0%;
  margin-bottom: 2%;

  align-content: center;
}

#summarycon2 {
  outline-color: green;

  height: 49%;
  width: 100%;

  margin-top: 0%;
  margin-bottom: 0%;

  display: flex;
  flex-flow: row wrap;
}

#summarycon2 #first {
  margin-left: 19%;
}

#summarycon2 #last {
  margin-right: 16%;
}

#summarycon2 #topr {
  margin-top: 0%;
}

#summarycon2 p {
  outline-color: red;
  background-color: rgb(216, 224, 237);
  border-radius: 10px;

  width: 11.4%;
  height: 100%;

  margin-left: 2%;
  margin-top: 0%;

  text-align: center;
  align-content: center;
}

#summarylist {
  outline-color: blue;

  width: 20%;
  height: 100%;

  margin-top: 0%;
  margin-left: 10%;
  margin-right: 19%;

  justify-content: center;
  align-items: center;
}

#summarylist li {
  outline-color: purple;
  width: 80%;
}

#edcon {
  outline-color: yellow;
  outline: 5px solid yellow;

  display: inline-block;

  width: 100%;
  height: 30vh;

  margin-top: 5.25%;
  margin-bottom: 0%;
}

#edcon h1 {
  outline-color: red;
  background-color: rgb(216, 224, 237);
  border-radius: 10px;

  font-size: 30px;
  display: flex;

  width: 10%;
  height: 4vh;

  margin-left: 19%;
  margin-top: 2%;
  margin-bottom: 2%;
}

#edcon2 {
  outline-color: green;

  height: 60%;
  width: 100%;

  display: flex;
  flex-flow: column wrap;
}

#edcon2 #first {
  outline-color: blue;

  width: 12%;
  height: 100%;

  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 19%;
  margin-right: 0%;
}

#edcon2 #last {
  outline-color: teal;

  width: 10.5%;
  height: 100%;

  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
  margin-right: 16%;
}

#edcon2 #arrow {
  outline-color: purple;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 10px;

  width: 7.1%;
  height: 100%;

  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
  margin-right: 0%;
}

#edcon2 p {
  outline-color: red;
  background-color: rgb(216, 224, 237);
  border-radius: 10px;

  width: 10.5%;
  height: 100%;

  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
  margin-right: 0%;

  text-align: center;
  align-content: center;
}

#achcon {
  outline-color: yellow;
  outline: 5px solid yellow;

  display: inline-block;

  width: 100%;
  height: 55vh;

  margin-top: 4%;
}

#achcon h1 {
  outline-color: red;
  background-color: rgb(216, 224, 237);
  border-radius: 10px;

  font-size: 30px;
  display: flex;

  width: 7%;
  height: 4vh;

  margin-left: 19%;
  margin-top: 2%;
  margin-bottom: 2%;
}

#achcon h3 {
  outline-color: red;

  width: 50%;
  height: 6%;

  margin-left: 19%;
  margin-top: 0%;
  margin-bottom: 2%;

  align-content: center;
  justify-content: center;
}

#achcon2 {
  outline-color: green;

  height: 58%;
  width: 100%;

  display: flex;
  flex-flow: row wrap;

  margin-bottom: 0%;
}

#achcon2 #first {
  margin-left: 19%;
}

#achcon2 #last {
  margin-right: 16%;
}

#achcon2 #topr {
  margin-top: 0%;
}

#achcon2 #bottomr {
  margin-bottom: 0%;
}

#achcon2 p {
  outline-color: red;
  background-color: rgb(216, 224, 237);
  border-radius: 10px;

  width: 10%;
  height: 46%;

  margin-left: 3.75%;
  margin-top: 0%;

  text-align: center;
  align-content: center;
}

#footer {
  outline-color: yellow;
  border-radius: 0px;
  background-color: rgb(216, 216, 237);

  height: 8vh;
  margin-left: 0%;
  margin-top: 4%;
  margin-bottom: 0%;

  display: flex;
  list-style: none;

  align-content: center;
  justify-content: center;
}

.tester {
  transition: all 0.5s ease;
}

.tester:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(175, 182, 231, 0.5);
}

.hover-underline {
  position: relative;
}

.hover-underline::after,
.hover-underline::before {
  transition: transform 0.4s ease-out;
  background: linear-gradient(to right, #999dd3, #aec4f1);

  content: '';
  position: absolute;

  width: 100%;
  height: 2px;
  left: 0;
  bottom: -5px;

  transform: scaleX(0);
  transform-origin: right;
}

.hover-underline::before {
  top: -5px;
  transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
  transform: scaleX(1);
}